<% layout('layouts/boilerplate') %>
<section class="comment-container">
  <link rel="stylesheet" href="/css/comment.css">
  <section class="comment">
    <div class="comment-info">
      <h2><%= comment.author.username %> </h2> <span class="created-at"><span class="date"><%= comment.createdAt %></span></span>
    </div>
    <h4><%= comment.text %> </h4>
  </section>
  <% if (currentUser) { %>
  <form action="/comments/reply/<%= comment._id %> " method="post" autocomplete="off" class="form-to-stop" onsubmit="check_comment(this); return false;" id="comment-form"> 
    <div id="reply-to-comment" class="reply-to-comment">
      <textarea class="comment-text" maxlength="2000" minlength="1" type="text" name="text" placeholder="Reply to <%= comment.author.username %> as <%= currentUser.username %>..."></textarea>
      <button type="submit">Reply</button>
    </div>
  </form>
  <% } else { %>
  <div class="not-login">
    <p>For replying please <a href="/user/login">log in</a></p>
  </div>
  <% } %>
  <h3>Replies</h3>
  <section class="replies">
    <% for (let reply of comment.replies) { %>
    <div class="reply">
      <div class="reply-info">
        <h5><%= reply.author.username %> </h5> <span class="created-at"><span class="date"><%= reply.createdAt %></span></span>
        <% if (currentUser && reply.author.equals(currentUser._id)) { %>
        <form action="/comments/reply/<%= comment._id %>/<%= reply._id %>?method-override=DELETE" method="post" class="form-to-stop">
          <button class="btn-normal btn-small-delete" type="submit">Delete</button>
        </form>
        <% } %>
      </div>
      <p><%= reply.text %> </p>
    </div>
    <% } %>
  </section>
</section>