<% layout('layouts/boilerplate') %>
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet' />
<link href="/css/index-camps.css" rel="stylesheet" type="text/css">
<button id="show-map" type="button"><span><img src="/imgs/map3.svg" alt="">Map of campgrounds</span>
  <div class="spinner-border text-light" role="status"></div>
</button>
<div id="map" class="map"></div>
<h1>Campgrounds</h1>
<form action="/campgrounds" method="get" class="search-campgrounds" id="search-campgrounds">
  <div class="camp-search-container">
    <label for="camp-search">
      <img class="search-lupa" src="/imgs/lupa.svg" alt="">
    </label>
    <input class="camp-search" type="text" name="search" id="camp-search" value="<%= searchInput %>" placeholder="Search for campgrounds" autocomplete="off">
  </div>
  <fieldset class="camp-search-params <% if (stype || searchInput) { %> <%= "params-expanded" %>  <% } %>  ">
    <p>Search by:</p>
    <div>
      <div>
        <input class="search-stype" type="radio" name="stype" id="stype-title" value="title" <% if (stype === "title" || !stype) { %> <%= 'checked' %> <% } %>>
        <label for="stype-title">Title</label>
      </div>
      <div>
        <input class="search-stype" type="radio" name="stype" id="stype-location" value="location" <% if (stype === "location") { %> <%= 'checked' %> <% } %>>
        <label for="stype-location">Location</label>
      </div>
    </div>
  </fieldset>
  </div>
</form>
<section class="list-camps" id="campgrounds-list">
  <% for (let campground of campgrounds.docs) { %>
  <div class="campground-view">
    <div class="camp-img-container">
      <a href="/campgrounds/<%=campground._id%>" class="camp-view-link"><img loading="lazy" src="<%= campground.images[0] ? campground.images[0].url : 'https://res.cloudinary.com/dnzagaln5/image/upload/v1669613670/YelpCamp/tent_camping_night_191593_1280x720_b6pg3p.jpg' %>" alt=""></a>
    </div>
    <div class="camp-info-container">
      <div><a href="/campgrounds/<%=campground._id%>" class="link-camp index"><%= campground.title %></a></div>
      <div class="camp-info">
        <p class="avg-rating"><%=campground.avgRating%>⭐</p>
        <p class="camp-description index"><%= campground.description %></p>
        <p><svg class="gps-icon-camp" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" version="1.1" xml:space="preserve">
            <g id="Maps">
              <path d="M16,1C9.38,1,4,6.38,4,13c0,6.42,10.83,17.25,11.3,17.71C15.49,30.9,15.75,31,16,31s0.51-0.1,0.7-0.29   C17.17,30.25,28,19.42,28,13C28,6.38,22.62,1,16,1z" fill="#fff" />
              <circle cx="16" cy="13" fill="grey" r="5" />
            </g>
          </svg><%= campground.location %></p>
        <p>$<%=campground.price%>/night</p>
      </div>
    </div>
  </div>
  <% } %>
</section>
</div>
<script>
  const mapboxt = "<%-process.env.MAPBOX_TOKEN%>";
</script>
<script src="/js/mapbox-cluster.js"></script>
<script src="/js/index-pagination.js"></script>